body {
  max-width:500px;
  margin: auto;
  background:
  radial-gradient(circle farthest-side at 0% 50%,#fb1 23.5%,rgba(240,166,17,0) 0)21px 30px,
  radial-gradient(circle farthest-side at 0% 50%,#B71 24%,rgba(240,166,17,0) 0)19px 30px,
  linear-gradient(#fb1 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#fb1 0)0 0,
  linear-gradient(150deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
  linear-gradient(30deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
  linear-gradient(90deg,#B71 2%,#fb1 0,#fb1 98%,#B71 0%)0 0 #fb1;
  background-size: 40px 60px;  background-position: top;
}

@keyframes rotate {
  2% {
    transform: translate(1px, 0px) rotate(.5deg)
  }

  4% {
    transform: translate(0px, 1px) rotate(.5deg)
  }

  6% {
    transform: translate(1px, 1px) rotate(.5deg)
  }

  8% {
    transform: translate(0px, 0px) rotate(.5deg)
  }

  10% {
    transform: translate(1px, 1px) rotate(.5deg)
  }

  12% {
    transform: translate(0px, 1px) rotate(.5deg)
  }

  14% {
    transform: translate(1px, 1px) rotate(.5deg)
  }

  16% {
    transform: translate(1px, 0px) rotate(.5deg)
  }

  18% {
    transform: translate(0px, 0px) rotate(.5deg)
  }

  20% {
    transform: translate(1px, 1px) rotate(.5deg)
  }

  22% {
    transform: translate(0px, 0px) rotate(.5deg)
  }

  24% {
    transform: translate(1px, 1px) rotate(.5deg)
  }

  26% {
    transform: translate(1px, 0px) rotate(.5deg)
  }

  28% {
    transform: translate(0px, 0px) rotate(.5deg)
  }

  30% {
    transform: translate(0px, 0px) rotate(.5deg)
  }

  32% {
    transform: translate(0px, 1px) rotate(.5deg)
  }

  34% {
    transform: translate(0px, 0px) rotate(.5deg)
  }

  36% {
    transform: translate(1px, 1px) rotate(.5deg)
  }

  38% {
    transform: translate(1px, 1px) rotate(.5deg)
  }

  40% {
    transform: translate(0px, 0px) rotate(.5deg)
  }

  42% {
    transform: translate(0px, 0px) rotate(.5deg)
  }

  44% {
    transform: translate(1px, 1px) rotate(.5deg)
  }

  46% {
    transform: translate(0px, 0px) rotate(.5deg)
  }

  48% {
    transform: translate(1px, 1px) rotate(.5deg)
  }

  50% {
    transform: translate(1px, 0px) rotate(.5deg)
  }

  52% {
    transform: translate(1px, 1px) rotate(.5deg)
  }

  54% {
    transform: translate(0px, 1px) rotate(.5deg)
  }

  56% {
    transform: translate(0px, 0px) rotate(.5deg)
  }

  58% {
    transform: translate(1px, 0px) rotate(.5deg)
  }

  60% {
    transform: translate(0px, 1px) rotate(.5deg)
  }

  62% {
    transform: translate(0px, 0px) rotate(.5deg)
  }

  64% {
    transform: translate(0px, 0px) rotate(.5deg)
  }

  66% {
    transform: translate(1px, 1px) rotate(.5deg)
  }

  68% {
    transform: translate(1px, 0px) rotate(.5deg)
  }

  70% {
    transform: translate(1px, 0px) rotate(.5deg)
  }

  72% {
    transform: translate(1px, 1px) rotate(.5deg)
  }

  74% {
    transform: translate(0px, 0px) rotate(.5deg)
  }

  76% {
    transform: translate(0px, 1px) rotate(.5deg)
  }

  78% {
    transform: translate(0px, 1px) rotate(.5deg)
  }

  80% {
    transform: translate(0px, 1px) rotate(.5deg)
  }

  82% {
    transform: translate(0px, 0px) rotate(.5deg)
  }

  84% {
    transform: translate(0px, 0px) rotate(.5deg)
  }

  86% {
    transform: translate(0px, 0px) rotate(.5deg)
  }

  88% {
    transform: translate(1px, 1px) rotate(.5deg)
  }

  90% {
    transform: translate(1px, 1px) rotate(.5deg)
  }

  92% {
    transform: translate(1px, 1px) rotate(.5deg)
  }

  94% {
    transform: translate(0px, 0px) rotate(.5deg)
  }

  96% {
    transform: translate(0px, 0px) rotate(.5deg)
  }

  98% {
    transform: translate(0px, 1px) rotate(.5deg)
  }

  0%, 100% {
    transform: translate(0, 0) rotate(0)
  }
}

#title {
  display: inline-block;
  font-family: monospace;
  font-size: 1.85em;
}

.bee {
  animation: rotate 0.5s infinite alternate;
  animation-timing-function: ease-in-out;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.button {
  background-color: black;
  color: hsla(49, 100%, 65%, 1);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  float: inherit;
}

.button:hover {
  /* animation-name: rotate;
  animation-direction: alternate;
  animation-timing-function: ease-in-out; */
  /* animation-duration: 0.5s;
  animation-iteration-count: infinite; */
}

.button:active {
  box-shadow: 0 0px black;
  transform: translateY(4px);
}

.bee-right {
  animation: rotate 0.5s infinite alternate;
  animation-timing-function: ease-in-out;
  float: right;
  transform: scalex(-1);
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

section {
  display: -webkit-flex;
  display: flex;
}

#indv_space {
  text-align: center;
  min-width: 500px;
  max-width: 500px;
}
