<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/style/style.css") %>">
  <meta charset="utf-8">
  <title>Bee 'n' Bee: Book Space</title>
</head>
<center>
  <body>
    <nav>
      <%= erb(:navbar)%>
    </nav>
    <%= erb(:title) %>
    <h1>
    When are you buzzing in?
    </h1>
    <h2>
      Dates available
      </h2>
    <hr>
  </body>
  <%= erb(:footer)%>
</center>
</html>
