<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/signup">Sign Up</a>
    <a href="/signin">Sign In</a>
    <a href="/profile">Profile</a>
    <br> <br>
    
    <h1>Bee 'n' Bea(?)</h1>
    <div>
    <h2>Name</h2>
    <br>
    <h2>Description</h2>
    <br>
    <h2>Price</h2>
    <br>
    <h2>Availability</h2>
    <br>
  </body>
</html>
