<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/signup">Sign Up</a>
    <a href="/signin">Sign In</a>
    <a href="/profile">Profile</a>
    <br> <br>
    <h1>Bee 'n' Bea(?)</h1>
    <div>

    <% @spaces.reverse.each do |space| %>
      <h2>Name:</h2><%= space.name %>
      <h2>Description:</h2><%= space.description  %>
      <h2>Price:</h2><%= space.price %>
      <h2>Availability</h2>
      <br><br>
      <% end %>
  </body>
</html>
