<h1 id="title">
  <img class="bee" src="<%=url("/images/bee.png")%>">
    Bee 'n' Bee
    <img class="bee-right" src="<%=url("/images/bee.png")%>">
  </h1>
  <h2><center><font face="monospace">
    Make a hive a home...
    </font></center></h2>
  <hr>
  <div>
